// #dropdown_hover

@mixin btn_none() {
  background-color: transparent;
  border          : none;
  padding         : 0;
  margin          : 0;
  font            : inherit;
  color           : inherit;
  text-align      : left;
  cursor          : pointer;
}


@mixin d_center {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

$fs21: 1.313rem;
$fs18: 1.125rem;

$text_color                  : #000; // text color for dropdown
$container_dropdown_hover_bg : #7171e9;
$dropdown_hover_btn_bg       : #fdff85;
$drop_content_hover_bg       : #f5f5f5;
$drop_content_hover_max_w    : 500px; // max width for dropdown block
$drop_content_hover_max_h    : 300px; // max height for dropdown block
$drop_content_hover_text_wrap: nowrap; // text wrap for dropdown block Если поставить "nowrap" то размер dropdown будет больше чем родитель.

$dch_ul_bg    : #fff; // background for ul in dropdown
$dch_ul_border: 1px solid #ccc; // border for ul in dropdown

$dropdown_svg_size: 20px; // size of svg icon in dropdown
$dropdown_svg_mr_l: 5px; // margin right for svg icon in dropdown

@mixin tongue {
  content         : "";
  position        : absolute;
  top             : -8px;
  left            : 50%;
  transform       : translateX(-50%);
  width           : 14px;
  height          : 14px;
  background-color: $dch_ul_bg;
  transform       : rotate(45deg);
  border-left     : $dch_ul_border;
  border-top      : $dch_ul_border;
}

@mixin tongue_left {
  @include tongue();
  left         : -7px;
  top          : 20px;
  border-top   : none;
  border-bottom: $dch_ul_border;
}

@mixin tongue_right {
  @include tongue();
  left            : initial;
  right           : -8px;
  top             : 20px;
  border-top      : $dch_ul_border;
  border-bottom   : none;
  border-left     : none;
  border-right    : $dch_ul_border;
  // border-bottom: $dch_ul_border;
}

.drop_content_hover[tongue]>ul,
.tongue_style {
  &::before {
    @include tongue();
  }
}

.drop_content_hover[tongue]>ul[data-position="top"],
.tongue_style[data-position="top"] {
  &::before {
    @include tongue();
  }
}

.drop_content_hover[tongue]>ul[data-position="right"],
.tongue_style[data-position="right"] {
  &::before {
    @include tongue_right();
  }
}

.drop_content_hover[tongue]>ul[data-position="left"],
.tongue_style[data-position="left"] {
  &::before {
    @include tongue_left();
  }
}

@mixin dropdown_show_animate {
  visibility    : visible;
  opacity       : 1;
  max-height    : $drop_content_hover_max_h;
  pointer-events: initial;
  top           : calc(0% + 15px);

  // overflow-y: auto;

  transition: max-height 0.7s ease,
    opacity 0.3s linear,
    visibility 0.01s linear, top 0.2s linear;

}

@mixin dropdown_hide_animate {
  opacity       : 0;
  pointer-events: none;
  transition    : max-height 0.5s ease,
    opacity 0.3s 0.1s linear,
    visibility 0.7s 0.01s linear,
    top 0.4s 0.1s linear;
}



.container_dropdown_hover {
  display         : block;
  position        : relative;
  background-color: $container_dropdown_hover_bg;
  font-size       : $fs18;
  color           : $text_color;

  button,
  a,
  li,
  li>a p,
  span {
    color          : $text_color;
    text-decoration: none;
    width          : 100%;
    display        : block;
  }

  &:hover {

    .dropdown_hover_btn,
    button:first-child {}

    .drop_content_hover {
      pointer-events: initial;
      opacity       : 1;
    }
  }

  @media screen and (min-width: 769px) {

    &:hover>.drop_content_hover>ul {
      @include dropdown_show_animate();
    }

    .drop_content_hover[active]>ul {
      @include dropdown_show_animate();
    }
  }

  button:first-child,
  .dropdown_hover_btn {
    @include btn_none();
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    background-color: $dropdown_hover_btn_bg;

    .dropdown_svg {
      @include d_center();
      width      : $fs21;
      height     : $fs21;
      margin-left: $dropdown_svg_mr_l;

      svg {
        width: $fs21;
      }
    }
  }

  .drop_content_hover {
    position      : absolute;
    top           : calc(100%);
    height        : 100px;
    pointer-events: none;

    // opacity: 0;
    ul {
      background-color   : $dch_ul_bg;
      border-radius      : 5px;
      border             : $dch_ul_border;
      padding            : 10px 0px;
      list-style         : none;
      width              : auto;
      max-width          : $drop_content_hover_max_w;
      min-width          : 270px;
      max-height         : $drop_content_hover_max_h;
      // white-space     : nowrap; // text wrap for dropdown block
      white-space        : break-spaces; // text wrap for dropdown block




      display : block;
      position: relative;
      @include dropdown_hide_animate();
      top: 50%;

      li:first-child {
        margin-top: 0;
        position  : relative;
      }

      li:last-child {
        margin-bottom: 0;
      }

      li {
        margin : 5px 0;
        padding: 5px 10px;

        &:hover {
          background-color: $drop_content_hover_bg;
          text-decoration : underline;
        }
      }
    }
  }
}



@mixin data_position_right {
  top               : 50%;
  left              : 0%;
  transform         : translate(100%, -50%);
  padding-left      : 26px;
  justify-content   : start;
  // display        : flex;
  // justify-content: flex-end;
}

@mixin data_position_left {
  top            : 50%;
  left           : 0%;
  transform      : translate(-100%, -50%);
  padding-right  : 26px;
  justify-content: end;
}

@mixin data_position_ul {
  top      : -14px;
  left     : 0px;
  transform: none;
}

.container_dropdown_hover {
  li {
    .container_dropdown_hover {

      @media screen and (min-width: 769px) {
        &:hover>.drop_content_hover>ul {
          @include dropdown_show_animate();
        }

        .drop_content_hover[active]>ul {
          @include dropdown_show_animate();
        }



        .drop_content_hover {
          display       : inline-grid;
          width         : 100%;
          pointer-events: none;
          height        : 30px;
          // @include dropdown_hide_animate();
          opacity       : 1 !important;

          ul {
            white-space: break-spaces; // text wrap for dropdown block
            top        : 10%;
          }
        }

        .drop_content_hover[data-position="right"] {
          @include data_position_right();
        }

        .drop_content_hover[data-position="left"] {
          @include data_position_left();
        }

        &:hover {
          .drop_content_hover {
            pointer-events: initial;
            // @include dropdown_show_animate();
          }

          .drop_content_hover[data-position="right"] {
            @include data_position_right();

            ul {
              @include data_position_ul();
            }
          }

          .drop_content_hover[data-position="left"] {
            @include data_position_left();

            ul {
              @include data_position_ul();
            }
          }
        }

        .drop_content_hover[data-position="right"][active] {
          pointer-events: initial;
          @include data_position_right();

          ul {
            @include data_position_ul();
          }
        }

        .drop_content_hover[data-position="left"][active] {
          pointer-events: initial;
          @include data_position_left();

          ul {
            @include data_position_ul();
          }
        }
      }

      @media screen and (max-width: 768px) {

        .drop_content_hover {
          position  : relative !important;
          padding   : 0px !important;
          transform : none !important;
          max-height: 100% !important;
          height    : 100% !important;

          ul {
            position: absolute !important;
          }
        }
      }

    }
  }
}



// #dropdown_hover