<div class="d-flex justify-content-around align-items-center flex-wrap">
  <!-- burger_btn_rotate_show -->
  <div class="d-inline-flex flex-column align-items-center m-3">
    <button class="btn btn-outline-success d-inline-flex justify-content-center align-items-center mb-3 _mini_btn_view_code" 
    data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
    data-d_key="burger_btn_rotate_show"
    data-directory="btn_burgers">
    <ion-icon name="code-slash"></ion-icon></button>
    <button class="burger_btn_rotate_show _btn_listener" data-where_droper="test" type="button" aria-label="Toggle Burger Button"></button>
  </div>
  <!-- burger_btn_w_change -->
  <div class="d-inline-flex flex-column align-items-center m-3">
    <button class="btn btn-outline-success d-inline-flex justify-content-center align-items-center mb-3 _mini_btn_view_code" 
    data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
    data-d_key="burger_btn_w_change"
    data-directory="btn_burgers">
    <ion-icon name="code-slash"></ion-icon></button>
    <button class="burger_btn_w_change _btn_listener" data-where_droper="test" type="button" aria-label="Toggle Burger Button"></button>
  </div>
  <!-- burger_btn_w_right_change -->
  <div class="d-inline-flex flex-column align-items-center m-3">
    <button class="btn btn-outline-success d-inline-flex justify-content-center align-items-center mb-3 _mini_btn_view_code" 
    data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
    data-d_key="burger_btn_w_right_change"
    data-directory="btn_burgers">
    <ion-icon name="code-slash"></ion-icon></button>
    <button class="burger_btn_w_right_change _btn_listener" data-where_droper="test" type="button" aria-label="Toggle Burger Button"></button>
  </div>
  <!-- burger_btn_transformer_x -->
  <div class="d-inline-flex flex-column align-items-center m-3">
    <button class="btn btn-outline-success d-inline-flex justify-content-center align-items-center mb-3 _mini_btn_view_code" 
    data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
    data-d_key="burger_btn_transformer_x"
    data-directory="btn_burgers">
    <ion-icon name="code-slash"></ion-icon></button>
    <button class="burger_btn_transformer_x _btn_listener" data-where_droper="test" type="button" aria-label="Toggle Burger Button">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <!-- burger_btn_transformer_x2 -->
  <div class="d-inline-flex flex-column align-items-center m-3">
    <button class="btn btn-outline-success d-inline-flex justify-content-center align-items-center mb-3 _mini_btn_view_code" 
    data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
    data-d_key="burger_btn_transformer_x2"
    data-directory="btn_burgers">
    <ion-icon name="code-slash"></ion-icon></button>
    <button class="burger_btn_transformer_x2 _btn_listener" data-where_droper="test" type="button" aria-label="Toggle Burger Button">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <!-- alien_menu_btn_1 -->
  <div class="d-inline-flex flex-column align-items-center m-3">
    <button class="btn btn-outline-success d-inline-flex justify-content-center align-items-center mb-3 _mini_btn_view_code" 
    data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
    data-d_key="alien_menu_btn_1"
    data-directory="btn_burgers">
    <ion-icon name="code-slash"></ion-icon></button>
    <button class="alien_menu_btn_1 _btn_listener" data-where_droper="test" type="button" aria-label="Toggle Burger Button"> 
      <span></span> 
    </button>
  </div>
  <!-- alien_menu_btn_2 -->
  <div class="d-inline-flex flex-column align-items-center m-3">
    <button class="btn btn-outline-success d-inline-flex justify-content-center align-items-center mb-3 _mini_btn_view_code" 
    data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
    data-d_key="alien_menu_btn_2"
    data-directory="btn_burgers">
    <ion-icon name="code-slash"></ion-icon></button>
    <button class="alien_menu_btn_2 _btn_listener" data-where_droper="test" type="button" aria-label="Toggle Burger Button"> 
      <span></span> 
    </button>
  </div>
  <!-- alien_menu_btn_3 -->
  <div class="d-inline-flex flex-column align-items-center m-3">
    <button class="btn btn-outline-success d-inline-flex justify-content-center align-items-center mb-3 _mini_btn_view_code" 
    data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"
    data-d_key="alien_menu_btn_3"
    data-directory="btn_burgers">
    <ion-icon name="code-slash"></ion-icon></button>
    <button class="alien_menu_btn_3 _btn_listener" data-where_droper="test" type="button" aria-label="Toggle Burger Button"> 
      <span></span> 
    </button>
  </div> 
  
</div> 