<section>
  <div class="or_navi_container_fluid">
    <div class="or_navi_container_lg">
      <div class="or_navi_navigation_left">
        <div class="or_navi_logotyp">
          <a href="#">
            <span class="or_logo">
              <img width="45" height="45" src="./img/svg/code_logo.svg" alt="logo">
            </span>
          </a>
        </div>
        <div class="or_navi_row">
          <ul class="or_navi_row_ul">
            <li class="or_navi_row_li">
              <a href="#">Home</a>
            </li>
            <li class="or_navi_row_li">
              <a href="#">About us</a>
            </li>
            <li class="or_navi_row_li">
              <a href="#">News</a>
            </li>
            <li class="or_navi_row_li">
              <a href="#">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="or_navi_navigation_right">
        <div class="or_navi_burger">
          <button class="burger_btn_standard burger_btn _burger_btn" type="button">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>