<section>
  <div class="or_navi_container_fluid">
    <div class="or_navi_container_lg">
      <div class="or_navi_navigation_left">
        <div class="or_navi_logotyp">
          <a href="#">
            <span class="or_logo">
              <img width="45" height="45" src="./img/svg/code_logo.svg" alt="logo">
            </span>
          </a>
        </div>
        <div class="or_navi_row">
          <ul class="or_navi_row_ul">
            <li class="or_navi_row_li">
              <a class="hover_center_line" href="#">Home</a>
            </li>
            <li class="or_navi_row_li">
              <a class="hover_center_line" href="#">About us</a>
            </li>
            <li class="or_navi_row_li">
              <div class="container_dropdown_standart_style1">
                <button class="hover_center_line dropdown_standart_style1_btn _btn_listener" data-where_droper="dropdown_standart_style1" type="button" aria-label="Toggle DropDown">
                  <span>Standart dropdown</span> 
                  <span class="dropdown_standart_style1_svg">
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"/></svg>
                  </span>
                </button>
                <div class="drop_content_standart_style1 _this_droper" data-where_listener='dropdown_standart_style1'>
                  <ul>
                    <li><a href="#" title="Error blanditiis explicabo">Error blanditiis explicabo</a></li>
                    <li><a href="#" title="necessitatibus">Necessitatibus</a></li>
                    <li><a href="#" title="Lorem ipsum dolor">Lorem ipsum dolor</a></li>
                  </ul>
                </div> 
              </div>
            </li>
            <li class="or_navi_row_li">
              <a class="hover_center_line" href="#">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="or_navi_navigation_right">
        <div class="or_navi_burger">
          <button aria-label="Toggle Burger Button" class="_btn_listener burger_btn_transformer_x2" data-where_droper=test type=button><span></span>
            <span></span> <span></span></button>
        </div>
      </div>
    </div>
  </div>
</section>