<div class="container_dropdown_hover _container_dropdown" data-autoclosedtime="3000">
  <button class="dropdown_hover_btn _dropdownToggle" data-dropdown_name="dropdown_hover_2test1" type="button"
    aria-label="Toggle DropDown">
    DropDown Hover
    <span class="dropdown_svg">
      <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
          d="M112 184l144 144 144-144" />
      </svg>
    </span>
  </button>
  <div class="drop_content_hover _dropdownMenu" data-dropdown_name='dropdown_hover_2test1' data-position="left">
    <ul class="tongue_style" data-position="right">
      <li><a href="#" title="Error blanditiis explicabo">Error blanditiis explicabo</a></li>
      <li><a href="#" title="necessitatibus">Necessitatibus</a></li>
      <li><a href="#" title="Lorem ipsum dolor">Lorem ipsum dolor</a></li>
      <li>

        <div class="container_dropdown_hover _container_dropdown" data-autoclosedtime="3000">
          <button class="dropdown_hover_btn _dropdownToggle" data-dropdown_name="dropdown_hover_2test2" type="button"
            aria-label="Toggle DropDown">
            DropDown Hover
            <span class="dropdown_svg">
              <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                  d="M112 184l144 144 144-144" />
              </svg>
            </span>
          </button>
          <div class="drop_content_hover _dropdownMenu" data-dropdown_name='dropdown_hover_2test2'
            data-position="right">
            <ul class="tongue_style" data-position="left">
              <li><a href="#" title="Error blanditiis explicabo">Error blanditiis explicabo</a></li>
              <li><a href="#" title="necessitatibus">Necessitatibus</a></li>
              <li>

                <div class="container_dropdown_hover _container_dropdown" data-autoclosedtime="3000">
                  <button class="dropdown_hover_btn _dropdownToggle" data-dropdown_name="dropdown_hover_2test3"
                    type="button" aria-label="Toggle DropDown">
                    DropDown Hover
                    <span class="dropdown_svg">
                      <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="48" d="M112 184l144 144 144-144" />
                      </svg>
                    </span>
                  </button>
                  <div class="drop_content_hover _dropdownMenu" data-dropdown_name='dropdown_hover_2test3'
                    data-position="left">
                    <ul class="tongue_style" data-position="right">
                      <li><a href="#" title="Error blanditiis explicabo">Error blanditiis explicabo</a></li>
                      <li><a href="#" title="necessitatibus">Necessitatibus</a></li>
                      <li><a href="#" title="Lorem ipsum dolor">Lorem ipsum dolor</a></li>
                    </ul>
                  </div>
                </div>

              </li>
              <li><a href="#" title="Lorem ipsum dolor">Lorem ipsum dolor</a></li>
              <li><a href="#" title="Error blanditiis explicabo">Error blanditiis explicabo</a></li>
              <li><a href="#" title="necessitatibus">Necessitatibus</a></li>
              <li><a href="#" title="Lorem ipsum dolor">Lorem ipsum dolor</a></li>
            </ul>
          </div>
        </div>

      </li>
    </ul>
  </div>
</div>