<div class="d-flex justify-content-around align-items-center flex-wrap">

  <!-- <div class="d-inline-flex flex-column align-items-center m-3">
    <button
      class="btn btn-outline-success d-inline-flex justify-content-center align-items-center mb-3 _mini_btn_view_code"
      data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" data-d_key="dropdown_hover"
      data-directory="dropdown">
      <ion-icon name="code-slash"></ion-icon></button>


    <div class="container_dropdown_hover _container_dropdown" data-autoclosedtime="3000">
      <button class="dropdown_hover_btn _dropdownToggle" data-dropdown_name="dropdown_hover" type="button"
        aria-label="Toggle DropDown">
        DropDown Hover
        <span class="dropdown_svg">
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
              d="M112 184l144 144 144-144" />
          </svg>
        </span>
      </button>
      <div class="drop_content_hover _dropdownMenu" data-dropdown_name='dropdown_hover'>
        <ul class="tongue_style">
          <li><a href="#" title="Error blanditiis explicabo">Error blanditiis explicabo</a></li>
          <li><a href="#" title="necessitatibus">Necessitatibus</a></li>
          <li><a href="#" title="Lorem ipsum dolor">Lorem ipsum dolor</a></li>
        </ul>
      </div>
    </div>

  </div> -->


  <div class="d-inline-flex flex-column align-items-center m-3">
    <button
      class="btn btn-outline-success d-inline-flex justify-content-center align-items-center mb-3 _mini_btn_view_code"
      data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" data-d_key="dropdown_hover"
      data-directory="dropdown">
      <ion-icon name="code-slash"></ion-icon></button>


    <div class="container_dropdown_hover _container_dropdown" data-autoclosedtime="300000"> 

      <button class="dropdown_hover_btn _dropdownToggle" data-dropdown_name="dropdown_hover" type="button"
        aria-label="Toggle DropDown">
        DropDown Hover
        <span class="dropdown_svg">
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
              d="M112 184l144 144 144-144" />
          </svg>
        </span>
      </button> 
      <div class="drop_content_hover _dropdownMenu"  data-dropdown_name='dropdown_hover'>
        <ul class="tongue_style">
          <li><a href="#" title="Error blanditiis explicabo">Error blanditiis explicabo</a></li>
          <li><a href="#" title="necessitatibus">Necessitatibus</a></li>
          <li><a href="#" title="Lorem ipsum dolor">Lorem ipsum dolor</a></li> 

          <li>
            @@include("./dropdown_hover_testing.html")
          </li>
          <li>
            <!-- @@include("./dropdown_hover_testing_2.html") -->
          </li>

        </ul>
      </div>

    </div>

  </div>

</div>